<div class="container-fluid mt-3">
    <h3>Search/Sort/Pagination Examples</h3><br><br>
    <button type="button" class="btn btn-success mr-3 mb-3" routerLink="/searchsortsinglepage" routerLinkActive="active" >Apply Search & Sort on Single Page</button><br>
    <button type="button" class="btn btn-primary mr-3 mb-3" routerLink="/searchsortallpages" routerLinkActive="active">Apply Search & Sort on All Pages</button><br>
    <button type="button" class="btn btn-danger mr-3" routerLink="/home" routerLinkActive="active">Go Back to Homepage</button>
</div>

<div>
    <router-outlet></router-outlet>
</div>