<div class="container-fluid mt-3">
    <h3>Pagination Examples</h3><br><br>
    <button type="button" class="btn btn-success mr-3 mb-3" routerLink="/paginatedusers" routerLinkActive="active" >Get Paginated Users from Back-End</button><br>
    <button type="button" class="btn btn-primary mr-3 mb-3" routerLink="/allusers" routerLinkActive="active">Get All Users from Back-End and Paginate in Front-End</button><br>
    <button type="button" class="btn btn-danger mr-3" routerLink="/home" routerLinkActive="active">Go Back to Homepage</button>
</div>

<div>
    <router-outlet></router-outlet>
</div>